/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 25px;
  height: 27px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 25px;
  height: 1px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -13px;
}
.hamburger-inner::after {
  bottom: -13px;
}

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.hamburger {
  display: none;
  position: absolute;
}

.header-img-left {
  width: 160px;
  margin: 20px 10px 20px 20px;
  filter: invert(100%);
  position: absolute;
  top: 0;
  left: 0;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 70%;
  gap: 20px;
  font-size: 1.1em;
  letter-spacing: 2px;
  overflow: auto;
  position: relative;
  top: 30px;
}
.header-menu > a {
  text-decoration: none;
  color: #ffffff;
  width: -moz-max-content;
  width: max-content;
}
.header-menu > a:hover {
  text-decoration: underline;
}

.header-info-right {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.9em;
  top: 20px;
  right: 10px;
}
.header-info-right > div {
  color: #ffffff;
}

body {
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
}

.dark {
  background-color: rgba(0, 0, 0, 0.3);
  filter: brightness(0.6);
}

.side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 400px;
  background-color: black;
  transition: transform 0.5s;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}
.side-nav p {
  font-weight: 300;
  font-size: 0.9em;
  margin: 0 auto;
  padding-bottom: 20px;
  color: #ffffff;
}

.side-nav-wrap {
  position: sticky;
  top: 30px;
  display: flex;
  flex-direction: column;
}

.side-nav-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #ffffff;
}

.side-nav-btn-group {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.side-nav-btn-group button {
  flex: 1;
  border-radius: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 10px 40px;
  background-color: black;
  border: solid #ffffff 2px;
  cursor: pointer;
}

.side-nav-footer {
  width: 100%;
  padding: 10px 0 30px 0;
}

.show {
  transform: translateX(0);
}

.hero {
  background-image: url(https://www.menubot.cz/app/users/vinohradskyparlament264125698/images/sn24.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-event {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 2.3em;
  letter-spacing: 2px;
}

main {
  max-width: 600px;
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.date-time {
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 2px;
}

.date-icons a:first-child {
  padding: 0 15px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-tag {
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin-bottom: -10px;
}

.menu-item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu-item-name,
.mail-tag,
.footer-header {
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.menu-item-small-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu-item-small {
  font-weight: 300;
  font-size: 0.8em;
}

.menu-item-descr {
  font-weight: 300;
  font-size: 0.9em;
}

.order-box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-box p {
  font-weight: 300;
  font-size: 0.9em;
}

.order-sign {
  padding: 15px 20px;
  background-color: black;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.input-wrap {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 10px 0;
}
.input-wrap > input {
  padding: 2px 4px;
  border-radius: 0;
  border: solid black 1px;
  width: 250px;
}
.input-wrap > button {
  border: solid black 1px;
  border-left: none;
  border-radius: 0;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}
.input-wrap img {
  width: 70%;
}

.gdpr-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.gdpr-check > a {
  font-weight: 300;
  font-size: 0.9em;
  color: black;
}
.gdpr-check > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: black;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gdpr-check input::before {
  display: none;
  content: "";
  background-color: black;
  width: 10px;
  height: 10px;
}
.gdpr-check input:checked::before {
  display: block;
}

.map-img {
  background-image: url(https://www.vinohradskyparlament.cz/user/documents/pic/map.jpg?1);
  width: 100%;
  height: 500px;
  background-position: center;
  position: relative;
}

.map-a-wrap {
  position: absolute;
  top: 50%;
  left: 45%;
}

.map-bruxx {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  color: black;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  padding: 5px;
  margin-left: -20px;
}
.map-bruxx:hover {
  text-decoration: underline;
}

.map-parla {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  color: #ffffff;
  background-color: black;
  border-radius: 0;
  border: none;
  padding: 5px;
  position: relative;
  top: -10px;
}
.map-parla:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 30px;
}

.footer-col-content-wrap {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col-img-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-col-img-group img {
  width: 40px;
}

.footer-header > a {
  text-decoration: none;
  color: black;
}
.footer-header > a:hover {
  text-decoration: underline;
}

.footer-text {
  font-weight: 300;
  font-size: 0.9em;
}
.footer-text > a {
  text-decoration: none;
  color: black;
}
.footer-text > a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-bottom p {
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .header-menu {
    display: none;
  }
  .header-num {
    display: none;
  }
  .side-nav {
    width: 70%;
  }
  .side-nav-btn-group {
    flex-direction: column;
    align-items: center;
  }
  .side-nav-btn-group button {
    width: 100%;
  }
  .hamburger {
    display: block;
    top: 20px;
    right: -10px;
    z-index: 5;
    transform: translateX(100%);
  }
  .date {
    flex-direction: column;
    align-items: baseline;
  }
  .date-time {
    font-size: 1.8em;
  }
  .date-icons {
    padding-top: 20px;
    align-self: flex-end;
  }
  .menu-item-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-item-small-group {
    margin-bottom: 10px;
  }
  .header-img-left {
    position: static;
    justify-self: center;
  }
}/*# sourceMappingURL=style.css.map */