* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.hamburger-btn {
  display: none;
}

.header-img-left {
  display: flex;
  align-self: start;
  width: 160px;
  filter: invert(100%);
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 1.1em;
  letter-spacing: 2px;
  overflow: auto;
  position: relative;
  top: 30px;
}
.header-menu > a {
  text-decoration: none;
  color: #ffffff;
  width: -moz-max-content;
  width: max-content;
}
.header-menu > a:hover {
  text-decoration: underline;
}

.header-info-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 0.9em;
  min-width: 200px;
}
.header-info-right > div {
  color: #ffffff;
}

.body {
  position: relative;
}

.side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: black;
  transition: width 0.5s;
}

.show {
  width: 300px;
}

.hero {
  background-image: url(https://www.menubot.cz/app/users/vinohradskyparlament264125698/images/sn24.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-event {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 2.3em;
  letter-spacing: 2px;
}

main {
  max-width: 600px;
  padding: 100px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.date-time {
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 2px;
}

.date-icons a:first-child {
  padding: 0 15px;
}

.menu-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-tag {
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 1px;
}

.menu-item-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.menu-item-name,
.mail-tag,
.footer-header {
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
}

.menu-item-small {
  font-weight: 300;
  font-size: 0.8em;
}

.menu-item-descr {
  font-weight: 300;
  font-size: 0.9em;
}

.order-box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.order-box p {
  font-weight: 300;
  font-size: 0.9em;
}

.order-sign {
  padding: 15px 20px;
  background-color: black;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.input-wrap {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin: 10px 0;
}
.input-wrap > input {
  padding: 2px 4px;
  border-radius: 0;
  border: solid black 1px;
  width: 250px;
}
.input-wrap > button {
  border: solid black 1px;
  border-left: none;
  border-radius: 0;
  margin-left: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
}
.input-wrap img {
  width: 70%;
}

.gdpr-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.gdpr-check > a {
  font-weight: 300;
  font-size: 0.9em;
  color: black;
}
.gdpr-check > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: inherit;
  color: black;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gdpr-check input::before {
  display: none;
  content: "";
  background-color: black;
  width: 10px;
  height: 10px;
}
.gdpr-check input:checked::before {
  display: block;
}

.map-img {
  background-image: url(https://www.vinohradskyparlament.cz/user/documents/pic/map.jpg?1);
  width: 100%;
  height: 500px;
  background-position: center;
  position: relative;
}

.map-a-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
}

.map-bruxx {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  color: black;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  padding: 5px;
  margin-left: -20px;
}
.map-bruxx:hover {
  text-decoration: underline;
}

.map-parla {
  text-decoration: none;
  font-weight: 300;
  font-size: 0.9em;
  color: #ffffff;
  background-color: black;
  border-radius: 0;
  border: none;
  padding: 5px;
  margin-left: 10px;
  position: relative;
  top: -10px;
}
.map-parla:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-col-content-wrap {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col-img-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer-col-img-group img {
  width: 40px;
}

.footer-header > a {
  text-decoration: none;
  color: black;
}
.footer-header > a:hover {
  text-decoration: underline;
}

.footer-text {
  font-weight: 300;
  font-size: 0.9em;
}
.footer-text > a {
  text-decoration: none;
  color: black;
}
.footer-text > a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-bottom p {
  font-weight: 300;
  font-size: 0.9em;
}

@media screen and (max-width: 950px) {
  .header-menu {
    display: none;
  }
  .hamburger-btn {
    display: block;
    min-width: 200px;
    position: relative;
    z-index: 2;
  }
}/*# sourceMappingURL=style.css.map */